@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

* {
  font-family: inherit;
}

body {
  margin: 0px;
  padding: 30px;
  font-family: "Roboto";
  overflow: hidden;
  background: #333333;
  text-align: center;
}

canvas {
  background-color: #fff;
  cursor: pointer;
  border: 2px solid black;
}

h1 {
  text-align: center;
  font-weight: 500;
  font-size: 45px;
  color: #fff;
}

.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
}

.tools .color-field {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid white;
  align-self: center;
  margin: 0 15px;
}

.tools .button {
  align-self: center;
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  width: 100px;
  height: 80px;
  line-height: 1.15;
  margin: 12px 5px 5px;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.tools .button:disabled {
  cursor: default;
}

.tools .button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.color-picker {
  align-self: center;
  margin: 0 15px;
  height: 50px;
}

.pen-range {
  align-self: center;
  margin: 0 10px;
  text-align: center;
}

.create-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #1d1d1d;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  text-align: center;
  height: 5em;
  width: 30em;
  margin-top: 2em;
  border-radius: 980px;
  font-weight: 700;
}

.create-button:hover,
.create-button:focus {
  background-color: rgb(231, 219, 219);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.create-button:hover {
  transform: translateY(-1px);
}

.create-button:active {
  background-color: #d3d5e2;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
